<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
            <command
                  commandId="org.eclipselabs.emfjson.ui.json2xmi"
                  label="Convert to XMI">
                   <visibleWhen>
   					<iterate operator="and" ifEmpty="false">
      				
      				<adapt type="org.eclipse.core.resources.IResource">
         				<test property="org.eclipse.core.resources.name" value="*.json"/> 
      				</adapt>
      			
   				</iterate>
        </visibleWhen>
            </command>
            <command
                  commandId="org.eclipselabs.emfjson.ui.xmi2json"
                  label="Convert to JSON"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                        <or>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.name"
                                    value="*.ecore">
                              </test>
                           </adapt>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                              <test
                                    forcePluginActivation="true"
                                    property="org.eclipse.core.resources.name"
                                    value="*.xmi">
                              </test>
                           </adapt>
                        </or>
                  </iterate>
               </visibleWhen>
            </command>
      </menuContribution>
      
   </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipselabs.emfjson.ui.handlers.Json2XMIHandler"
            id="org.eclipselabs.emfjson.ui.json2xmi"
            name="JSON2XMI">
      </command>
      <command
            defaultHandler="org.eclipselabs.emfjson.ui.handlers.XMI2JsonHandler"
            id="org.eclipselabs.emfjson.ui.xmi2json"
            name="XMI2JSON">
      </command>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipselabs.emfjson.ui"
            name="EMFJs">
      </category>
      <wizard
            category="org.eclipselabs.emfjson.ui"
            class="org.eclipselabs.emfjson.ui.wizards.EcoreJsonNewModelWizard"
            icon="icons/json.png"
            id="org.eclipselabs.emfjson.ui.wizards.EcoreJsonNewModelWizard"
            name="Ecore Model">
      </wizard>
      <wizard
            category="org.eclipselabs.emfjson.ui"
            class="org.eclipselabs.emfjson.ui.wizards.EcoreModelJsonApiWizard"
            icon="icons/json.png"
            id="org.eclipselabs.emfjson.ui.wizards.EcoreModelJsonApiWizard"
            name="Ecore Model from JSON API">
      </wizard>
   </extension>
   
   <extension point="org.eclipse.emf.importer.modelImporterDescriptors">
    <modelImporterDescriptor 
    	id="org.eclipse.emf.importer.ecore" 
    	name="EMF Json Importer" 
    	icon="icons/json.png" 
    	extensions="ejs,json"
    	description="Import Ecore Model from JSON." 
    	wizard="org.eclipselabs.emfjson.ui.wizards.EcoreJsonImporterWizard" />
  </extension>
  
</plugin>
