<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="EMF JSON">
            <command commandId="org.eclipselabs.emfjson.ui.xmi2json" style="push">
               <visibleWhen checkEnabled="false">
                     <iterate ifEmpty="false" operator="and">
                     	<adapt type="org.eclipse.core.resources.IResource">
                      		<test property="org.eclipse.core.resources.name" value="*.xmi"></test>
                     	</adapt>
                     </iterate>
				</visibleWhen>
            </command>
            <command commandId="org.eclipselabs.emfjson.ui.json2xmi" style="push">
            	<visibleWhen checkEnabled="false">
                     <iterate ifEmpty="false" operator="and">
                     	<adapt type="org.eclipse.core.resources.IResource">
                      		<test property="org.eclipse.core.resources.name" value="*.json"></test>
                     	</adapt>
                     </iterate>
				</visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipselabs.emfjson.ui.json2xmi"
            name="JSON -&gt; XMI">
      </command>
      <command
            id="org.eclipselabs.emfjson.ui.xmi2json"
            name="XMI -&gt; JSON">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipselabs.emfjson.ui"
            name="EMF JSON">
      </category>
      <wizard
            category="org.eclipselabs.emfjson.ui"
            class="org.eclipselabs.emfjson.ui.wizards.EcoreJsonNewModelWizard"
            icon="icons/json.png"
            id="org.eclipselabs.emfjson.ui.wizards.EcoreJsonNewModelWizard"
            name="Ecore Model (JSON syntax)">
      </wizard>
      <wizard
            category="org.eclipselabs.emfjson.ui"
            class="org.eclipselabs.emfjson.ui.wizards.EcoreJsonNewModelWizard"
            icon="icons/json.png"
            id="org.eclipselabs.emfjson.ui.wizards.EcoreJsonNewModelWizard"
            name="JSON Model (JSON syntax)">
      </wizard>
      <wizard
            category="org.eclipselabs.emfjson.ui"
            class="org.eclipselabs.emfjson.ui.wizards.EcoreJsonNewModelWizard"
            icon="icons/json.png"
            id="org.eclipselabs.emfjson.ui.wizards.EcoreJsonNewModelWizard"
            name="JSON Model (XMI syntax)">
      </wizard>
      <!-- <wizard
            category="org.eclipselabs.emfjson.ui"
            class="org.eclipselabs.emfjson.ui.wizards.EcoreModelJsonApiWizard"
            icon="icons/json.png"
            id="org.eclipselabs.emfjson.ui.wizards.EcoreModelJsonApiWizard"
            name="Ecore Model from JSON API">
      </wizard> -->
   </extension>

   <extension point="org.eclipse.emf.importer.modelImporterDescriptors">
    <modelImporterDescriptor 
    	id="org.eclipse.emf.importer.ecore" 
    	name="EMF Json Importer" 
    	icon="icons/json.png" 
    	extensions="ejs,json"
    	description="Import Ecore Model from JSON." 
    	wizard="org.eclipselabs.emfjson.ui.wizards.EcoreJsonImporterWizard" />
  </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipselabs.emfjson.ui.handlers.JSON2XMIHandler"
            commandId="org.eclipselabs.emfjson.ui.json2xmi">
      </handler>
      <handler
            class="org.eclipselabs.emfjson.ui.handlers.XMI2JSONHandler"
            commandId="org.eclipselabs.emfjson.ui.xmi2json">
      </handler>
   </extension>
</plugin>
