<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

  	<extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipselabs.org/examples/library"
            class="org.eclipselabs.examples.library.LibraryPackage"
            genModel="model/library.genmodel"/>
  	</extension>
</plugin>
