<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Library Editor</title>
<link href="css/bootstrap.css" media="screen" rel="stylesheet"
	type="text/css" />
<link href="css/bootstrap-responsive.css" media="screen"
	rel="stylesheet" type="text/css" />
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
	background: white;
}

.sidebar-nav {
	padding: 9px 0;
}
</style>
</head>
<body data-spy="scroll" data-target=".subnav" data-offset="50">

	<!-- navigation bar -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" href="#">Library Editor</a>
			</div>
		</div>
	</div>
	<!-- end navigation bar -->

	<!-- top bar -->
	<div class="container-fluid">

		<div class="row-fluid">

			<div class="span3 columns">

				<div class="well sidebar-nav">
					<ul class="nav nav-list">
						<li id="sidebar" class="nav-header">Libraries</li>
						<li id="resource-1">
							<a id="resource-001" href="#">
								<i class="icon-folder-close"></i> 
								SciFi
							</a>
						</li>
						<li id="resource-1">
							<a id="resource-001" href="#" onclick="createLibraryTable();">
								<i class="icon-folder-close"></i> 
								Create new library
							</a>
						</li>
					</ul>
				</div>
				<!--/.sidebar -->
			</div>
			<!--/.span -->

			<div id="model-content" class="span9">
				<ul id="model-nav-tab-content" class="nav nav-tabs"></ul>
				<div id="model-tab-content" class="tab-content"></div>
			</div>
			
		</div>
	</div>
	<!--/row-->

	<hr>
	
	<footer> </footer>

	<!-- 	</div> -->
	<!--/.fluid-container-->

	<!--  Templates -->
	<script id="librarySidebarTemplate" type="text/x-jquery-tmpl">
		<li>
			<a id="null-resource" href="#" onclick="createLibraryTable();">
				<i class="icon-folder-close"></i> 
				Create new library
			</a>
		</li>
	</script>
	
	<script id="libraryNavTemplate" type="text/x-jquery-tmpl">
		<li class="active">
			<a href="#${id}" data-toggle="tab">${id}</a>
		</li>
	</script>
	
	<!--
		Creates main container
		tmpl({
			id : 0901212, -- object id
			properties: [], -- properties in this conpartment
			object: {
				p1: ""
				p2: ""
				....
			}
		})
	 -->
	 <!-- 
	<script id="rootContainerTemplate" type="text/x-jquery-tmpl">
	</script>
	-->
	<!--
		Creates compartment for set of attribute properties and single references.
		tmpl({
			id : 0901212, -- object id
			values: [], -- properties in this conpartment
			object: {
				p1: ""
				p2: ""
				....
			}
		})
	 -->
	<script id="compartmentPropertiesTemplate" type="text/x-jquery-tmpl">
			<div id="library-items" class="row">
				<div class="span12 accordion-group">
					<div class="accordion-heading">
						<div class="accordion-toggle btn-group">
							<a  class="btn" data-toggle="collapse" data-parent="#library-properties" href="#collapse-library-properties">
              			 	Show Properties
            				</a>
						</div>
					</div>
				<div id="collapse-library-properties" class="collapse">
          		<div id="library-properties" class="span12 accordion-inner">
					{{each values}}
						{{each(k,v) $value}}
							<div class="row">
								<label class="columns span2">${k}</label>
								<input class="columns span8" type="text" value="${v}" />
							</div>
						{{/each}}
					{{/each}}
				</div>
			</div>
	</script>
	
	<script id="compartmentObjectsTemplate" type="text/x-jquery-tmpl">
		<div id="library-items" class="row">
				<div class="span12 accordion-group">
					<div class="accordion-heading">
						<div class="accordion-toggle btn-group">
							<a  class="btn" data-toggle="collapse" data-parent="#library-properties" href="#collapse-library-properties">
              			 	Properties
            				</a>
							<a class="btn"><i class="icon-remove"></i></a>
						</div>
					</div>
				<div id="collapse-library-properties" class="collapse">
          		<div id="library-properties" class="span12 accordion-inner">
<!--					
					{{each values}}
						{{each(k,v) $value}}
							<div class="row">
								<label class="columns span2">${k}</label>
								<input class="columns span8" type="text" value="${v}" />
							</div>
						{{/each}}
					{{/each}}
-->
				</div>
			</div>
	</script>
	
	<script id="innerTableTemplate" type="text/x-jquery-tmpl">
		<table class="span12 table">
			<thead>
				<tr>
					<td>Title</td>
					<td>Pages</td>
					<td>Pub Date</td>
					<td>Kind</td>
				</tr>
			</thead>
			<tbody id="${id}-table">
				{{each items.models}}
					<tr>
						<td><div class="span8 columns" contenteditable="true">${$value.get("title")}</div></td>
						<td><div class="span8 columns" contenteditable="true">${$value.get("nbPages")}</div></td>
						<td><div class="span8 columns" contenteditable="true">1900-01-01</div></td>
						<td>
							<select class="span8 columns" id="select01">
								<option>something</option>
								<option>else</option>
							</select>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</script>
	
	<script id="itemTemplate" type="text/x-jquery-tmpl">
		<div id=${id} class="row">
			<label class="span2 columns">title: </label>
			<div class="span2 columns" contenteditable="true">${title}</div>
		</div>
	</script>
	
	<!-- 
	<script id="compartmentTemplate" type="text/x-jquery-tmpl">
    	<div class="accordion-group">
       		<div class="row">
        		<a class="btn" data-toggle="collapse" data-parent="#${id}" href="#collapse${id}">${id}</a>
				{{if unique === false}}
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">New <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a data-toggle="modal" href="#modal-book">Book</a></li>
						<li><a data-toggle="modal" href="#modal-dvd">DVD</a></li>
					</ul>
				{{/if}}
        	</div>
        	<div id="collapse${id}" class="collapse" style="height: 220px; ">
          		<div id="inner-${id}" class="accordion-inner">
				{{if data}}
					<table class="table">
						<tbody id="${id}-table">
						</tbody>
					</table>
				{{/if}}
				</div>
			</div>
		</div>	
	</script>

	<script id="createItem" type="text/x-jquery-tmpl">
		{{each data}}
		<tr>
			{{each(k,v) $value}}
				<td><div contenteditable="true">${v}</div></td>
			{{/each}}
		</tr>	
		{{/each}}
	</script>
 	-->
	
	<script id="itemModalTemplate" type="text/x-jquery-tmpl">
		 <div id="${id}" class="modal hide">
		  <div class="modal-header">
		    <a class="close" data-dismiss="modal">×</a>
		    <h3>New Item</h3>
		  </div>
		  <div class="modal-body">
		  	{{tmpl formTemplate}}
		  </div>
		  <div class="modal-footer">
		    <a href="#" class="btn btn-primary" onclick="${create}">Save changes</a>
		    <a href="#" class="btn" data-dismiss="modal">Close</a>
		 </div>
		</div>
	</script>

	<script id="bookModalForm" type="text/x-jquery-tmpl">
		<form id="book-form" class="well">
			<label>Title</label>
			<input name="title" type="text" class="span3" placeholder="Type something…">
			<label>Publication Date</label>
			<input name="date" type="text" class="span3" placeholder="1900-01-01…">
			<label>Pages</label>
			<input name="pages" type="text" class="span3" placeholder="000…">
		</form>
	</script>

	<script id="multimediaModalForm" type="text/x-jquery-tmpl">
		<form id="multimedia-form" class="well">
			<label>Title</label>
			<input name="title" type="text" class="span3" placeholder="Type something…">
			<label>Publication Date</label>
			<input name="date" type="text" class="span3" placeholder="1900-01-01…">
			<label>Length</label>
			<input name="length" type="text" class="span3" placeholder="000…">
		</form>
	</script>

	<!--  JavaScript -->
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
		type="text/javascript" charset="utf-8"></script>
	<script
		src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"
		type="text/javascript" charset="utf-8"></script>
	<script src="js/bootstrap-modal.js"></script>
	<script src="js/bootstrap-collapse.js"></script>
	<script src="js/bootstrap-button.js"></script>
	<script src="js/bootstrap-dropdown.js"></script>
	<script src="js/bootstrap-tab.js"></script>
		<script src="js/json2-min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/underscore.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/backbone.js"></script>
	<script src="js/backbone.localStorage.js"></script>
	<script src="js/ecore.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/application.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>